<!-- <div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card border-0 shadow rounded-3 my-5">
                <div class="card-body p-4 p-sm-5">
                    <h5 class="card-title text-center mb-5 fw-light fs-5">Sign In</h5>

                    <form>
                        <div class="form-floating mb-3">
                            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">

                        </div>
                        <div class="form-floating mb-3">
                            <input type="password" class="form-control" id="floatingPassword" placeholder="Password">

                        </div>

                        <div class="mb-3">
                            <a href="#" class="text-center">Forgot Password?</a>
                        </div>


                        <div class="">
                            <button class="btn btn-primary text-uppercase btn-block btn-sm" type="submit">Sign
                                in</button>
                        </div>
                        <div class="mt-3 text-center">
                            <span>Not a member? <a href="#" class="">Register</a></span>
                        </div>

                        <hr class="my-4">
                        <button type="button" class="close" data-dismiss="modal">CLOSE</button>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div> -->

<div class="container">
    <div class="modal fade" id="myModal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                    <h5 class="text-center my-5">Login</h5>
    
                <div class="modal-body px-5">
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                    </div>
                    <div class="form-floating mb-3">
                        <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                    </div>
                    <div class="mb-3">
                        <a href="#" class="text-center">Forgot Password?</a>
                    </div>
                    <div class="">
                        <button class="btn btn-primary text-uppercase btn-block btn-sm" type="submit">Sign in</button>
                    </div>
                    <div class="mt-3 text-center">
                        <span>Not a member? <button type="button" class="btn btn-primary"  routerLink="/register"  data-toggle="modal" data-target="#myModal">Register</button></span>
                        <!-- <button  type="button" class="btn btn-warning nav-link btn-sm" routerLink="/home/login" data-toggle="modal" data-target="#myModal01">Sign in</button>
                    </div> -->
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>
</div>