<div class="img-center">
    <img class="img-fluid d-block w-100 overlay" src="/assets/contact/fresh_leaf.JPG" alt="contact_banner">
    <h1 class="centered text-white">Contact Us</h1>
</div>

<div class="contact1 my-5">
    <div class="container-contact1">
        <div class="contact1-pic js-tilt" data-tilt>
            <img src="/assets/contact/img-01.png" alt="messagebox-image">
        </div>

        <form class="contact1-form validate-form" [formGroup]="exform">
            <span class="contact1-form-title">
                Get in touch
            </span>
            <div class="form-group">
                <label class="col-form-label">Name*</label>
                <input formControlName="name" type="text" class="form-control error" placeholder="Enter your name">  
                <small *ngIf="name.invalid && name.touched" class="text-danger"></small>
               
            </div>
            <div class="form-group">
                <label class="col-form-label">Email*</label>
                <input formControlName="email" type="text" class="form-control" placeholder="example@gmail.com">
                <small *ngIf="email.invalid && email.touched" class="text-danger"></small>
            </div>
            <div class="form-group">
                <label class="col-form-label">Phone*</label>
                <input formControlName="phone" type="tel" class="form-control" maxlength="10" placeholder="XXXXXXXXXX">
                <small *ngIf="phone.invalid && phone.touched" class="text-danger"></small>
            </div>
            <div class="form-group">
                <label class="col-form-label">Message*</label>
                <textarea formControlName="message" class="form-control" placeholder="Your message here..."></textarea>
                <small *ngIf="message.invalid && message.touched" class="text-danger"></small>
            </div>
            <button (click)="clicksub()" [disabled]="exform.invalid" type="button" class="btn btn-warning text-white">Send
                message</button>
        </form>
    </div>
</div>

<!-- </div> -->


<!-- <div class="card m-3">
    <h5 class="card-header">Angular 10 Reactive Form Validation</h5>
    <div class="card-body">
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="form-row">
                <div class="form-group col">
                    <label>Title</label>
                    <select formControlName="title" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.title.errors }">
                        <option value=""></option>
                        <option value="Mr">Mr</option>
                        <option value="Mrs">Mrs</option>
                        <option value="Miss">Miss</option>
                        <option value="Ms">Ms</option>
                    </select>
                    <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
                        <div *ngIf="f.title.errors.required">Title is required</div>
                    </div>
                </div>
                <div class="form-group col-5">
                    <label>First Name</label>
                    <input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
                    <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                        <div *ngIf="f.firstName.errors.required">First Name is required</div>
                    </div>
                </div>
                <div class="form-group col-5">
                    <label>Last Name</label>
                    <input type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
                    <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                        <div *ngIf="f.lastName.errors.required">Last Name is required</div>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col">
                    <label>Date of Birth</label>
                    <input type="date" formControlName="dob" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.dob.errors }" />
                    <div *ngIf="submitted && f.dob.errors" class="invalid-feedback">
                        <div *ngIf="f.dob.errors.required">Date of Birth is required</div>
                        <div *ngIf="f.dob.errors.pattern">Date of Birth must be a valid date in the format YYYY-MM-DD</div>
                    </div>
                </div>
                <div class="form-group col">
                    <label>Email</label>
                    <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                        <div *ngIf="f.email.errors.required">Email is required</div>
                        <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col">
                    <label>Password</label>
                    <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.password.errors.required">Password is required</div>
                        <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                    </div>
                </div>
                <div class="form-group col">
                    <label>Confirm Password</label>
                    <input type="password" formControlName="confirmPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />
                    <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                        <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
                        <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>
                    </div>
                </div>
            </div>
            <div class="form-group form-check">
                <input type="checkbox" formControlName="acceptTerms" id="acceptTerms" class="form-check-input" [ngClass]="{ 'is-invalid': submitted && f.acceptTerms.errors }" />
                <label for="acceptTerms" class="form-check-label">Accept Terms & Conditions</label>
                <div *ngIf="submitted && f.acceptTerms.errors" class="invalid-feedback">Accept Ts & Cs is required</div>
            </div>
            <div class="text-center">
                <button class="btn btn-primary mr-1">Register</button>
                <button class="btn btn-secondary" type="reset" (click)="onReset()">Cancel</button>
            </div>
        </form>
    </div>
  </div>
   -->

<!-- <div class="contact1 my-5">
    <div class="container-contact1"></div>
    <div class="contact1-pic js-tilt" data-tilt>
        <img src="/assets/contact/img-01.png" alt="messagebox-image">
    </div>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      
        <div class="form-group">
            <label>Name*</label>
            <input type="text" formControlName="firstName" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
            <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                <div *ngIf="f.firstName.errors.required">Name is required</div>
            </div>
        </div>
        <div class="form-group">
            <label>Email*</label>
            <input type="text" formControlName="email" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">Email is required</div>
                <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
            </div>
        </div>
        <div class="form-group">
            <label>Phone*</label>
            <input type="text" formControlName="email" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">Mobile number is required</div>
            </div>
        </div>
        <div class="form-group">
            <label>Subject*</label>
            <input type="text" formControlName="firstName" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
            <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                <div *ngIf="f.firstName.errors.required">Subject is required</div>
            </div>
        </div>

        <div class="text-center">
            <button class="btn btn-primary mr-1">Register</button>
            <button class="btn btn-secondary" type="reset" (click)="onReset()">Cancel</button>
        </div>
    </form>
</div> -->


<!-- <div class="container">
    <form novalidate
        [formGroup]="myform">
  
    <fieldset formGroupName="name">
      <div class="form-group"
           [ngClass]="{
          'has-danger': firstName.invalid && (firstName.dirty || firstName.touched),
          'has-success': firstName.valid && (firstName.dirty || firstName.touched)
        }">
  
        <label>First Name</label>
        <input type="text"
               class="form-control"
               formControlName="firstName"
               required>
        <div class="form-control-feedback"
             *ngIf="firstName.errors && (firstName.dirty || firstName.touched)">
          <p *ngIf="firstName.errors.required">First Name is required</p>
        </div>

      </div>

    </fieldset>
  </form>
  </div> -->

<!-- <div class="container pt-5">
    <div class="row justify-content-sm-center pt-5">
        <div class="col-sm-6 shadow round pb-3">
          <h1 class="text-center pt-3 text-secondary">Example Form</h1>

            <form [formGroup]="exform">
                <div class="form-group">
                  <label class="col-form-label">Name:</label>
                  <input formControlName="name" type="text" class="form-control">
                  <small *ngIf="name.invalid && name.touched" class="text-danger">Name is Required</small> 
                </div>
                <div class="form-group">
                  <label class="col-form-label">Email:</label>
                  <input formControlName="email" type="text" class="form-control" >
                  <small *ngIf="email.invalid && email.touched" class="text-danger">Email is Required</small>
                </div>
                <div class="form-group">
                  <label class="col-form-label">Phone:</label>
                  <input formControlName="phone" type="text" class="form-control" >
                  <small *ngIf="phone.invalid && phone.touched" class="text-danger">Phone no is Required(minimum length 10,numbers are only allowed)</small>
                </div>
                <div class="form-group">
                  <label class="col-form-label">Message:</label>
                  <textarea formControlName="message" class="form-control" ></textarea>
                  <small *ngIf="message.invalid && message.touched" class="text-danger"> Message is Required(minimum length 10)</small> 
                </div>
                <button (click)="clicksub()" [disabled]="exform.invalid" type="button" class="btn btn-primary">Send message</button>
              </form>

        </div>
    </div>
  </div> -->