<div class="container mt-head section-margin">
    <div class="row">
      <div class="col-lg-4 col-md-12 mb-2 mb-lg-0 px-1">
        <img src="./assets/recent_works/one.jpg" class="w-100 shadow-1-strong mb-2" alt="" />
        <img src="./assets/recent_works/second.jpg" class="w-100 shadow-1-strong mb-2" alt="" />
        <img src="./assets/recent_works/seventh.jpg" class="w-100 shadow-1-strong mb-2" alt="" />
      </div>
  
      <div class="col-lg-4 mb-2 mb-lg-0 px-1">
        <img src="./assets/recent_works/third.jpg" class="w-100 shadow-1-strong mb-2" alt="" />
        <img src="./assets/recent_works/fourth.jpg" class="w-100 shadow-1-strong mb-2" alt="" />
        <img src="./assets/recent_works/eighth.jpg" class="w-100 shadow-1-strong  mb-2" alt="" />
      </div>
  
      <div class="col-lg-4 mb-2 mb-lg-0 px-1">
        <img src="./assets/recent_works/fifth.jpg" class="w-100 shadow-1-strong mb-2" alt="" />
        <img src="./assets/recent_works/sixth.jpg" class="w-100 shadow-1-strong  mb-2" alt="" />
        <img src="./assets/recent_works/ninth.jpg" class="w-100 shadow-1-strong  mb-2" alt="" />
      </div>
    </div>
  </div>